body {
	padding-top: 50px;
}

table {
    margin-top: 8px;
    word-wrap : break-word;
    overflow-wrap : break-word;
}

.default-button:link {
    color:white;
}

.default-button:visited {
    color:white;
}

.default-button:hover {
    color:white;
}

.default-button:active {
    color:white;
}

.default-button-black:link {
    color:black;
}

.default-button-black:visited {
    color:black;
}

.default-button-black:hover {
    color:black;
}

.default-button-black:active {
    color:black;
}

.panel-body {
    word-wrap : break-word;
    overflow-wrap : break-word;
}

.break-text {
    word-wrap : break-word;
    overflow-wrap : break-word;
}

.time_real {
    width: 30px;
}

.time_plan {
    width: 30px;
}

.disable-form {
    display:none
}

.complete {
    color: #0000ff;
}

.dis-complete {
    color: #cc0000;
}

.report_y_form {
    width: 100%;
    height: 100%;
}

.report_w_form {
    width: 100%;
}

.report_t_form {
    width: 100%;
    height: 100%;
}

.comment_form {
    width: 100%;
    height: 100px;
}

.daily_title_form {
    width: 100%;
}

.page-header {
    padding-left: 20px;
}

.padding-left {
    padding-left: 20px;
}

.padding-right {
    padding-right: 20px;
}

.padding-left-plus {
    padding-left: 40px;
}

.padding-right-plus {
    padding-right: 40px;
}

.padding-top {
    padding-top: 10px;
}

.padding-top-plus {
    padding-top: 20px;
}

.padding-top-min {
    padding-top: 5px;
}

.markdown {
    font-size: 14px;
}

.font-m {
    font-size: 14px;
}

.font-l {
    font-size: 20px;
}

.left {
    width: 100%
    margin-left: auto;
}

.white {
    background-color: white;
}

.font-black {
    color: black;
}

.list-none {
    list-style: none;
}

textarea {
    resize: none;
}
