body {
	padding-top: 50px;
}

table {
    margin-top: 8px;
    word-break:break-all;
}
.panel-body {
    word-break:break-all;
}

.time_real {
    width: 50px;
}

.time_plan {
    width: 50px;
}

.disable-form {
    display:none
}

.complete {
    color: blue;
}

.dis-complete {
    color: red;
}