{% extends "taskbar.html" %}
{% load bootstrap %}

{% block title %}コメントの編集{% endblock title %}

{% block content %}
<h3 class="page-header">コメントの編集</h3>
{% if comment_id %}
<form action="{% url 'cms:comment_mod' daily_id=daily.id comment_id=comment.id %}" method="post" class="form-horizontal" role="form">
{% else %}
<form action="{% url 'cms:comment_add' daily_id=daily.id %}" method="post" class="form-horizontal" role="form">
{% endif %}
      <div class="panel panel-default">
        <div class="list-group">
            {% csrf_token %}
            {{ comment_form.comment }}
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">投稿</button>
        </div>
    </div>
</form>
<a href="{% url 'cms:daily_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}