{% extends "base.html" %}
{% load bootstrap %}
{% load markdown_deux_tags %}
{% block title %}日報の編集{% endblock title %}

{% block content %}
<form method="post" action="{% url 'cms:daily_search' %}">
{% csrf_token %}
<table>
    <tr>
        <td>{{ search_form.keyword }}</td>
        <td><button type="submit" class="btn btn-default btn-sm">検索</button></td>
    </tr>
</table>
</form>
{% if daily_id %}
    <form action="{% url 'cms:daily_mod' daily_id=daily_id %}" method="post" class="form-horizontal" role="form">
{% else %}
    <form action="{% url 'cms:daily_add' %}" method="post" class="form-horizontal" role="form">
{% endif %}
        <h3 class="page-header">日報の編集</h3>
        <div>
            {% csrf_token %}
            <text>
                {{ edit_form.title|bootstrap_horizontal }}
            </text>
            <text>
                {{ edit_form.report|bootstrap_horizontal }}
            </text>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name='preview' class="btn btn-default">プレビュー</button>
                <button type="submit" name='release' class="btn btn-primary">公開</button>
            </div>
        </div>
</form>
{% endblock content %}