{% extends "base.html" %}
{% load filters %}
{% block title %}日報の一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">日報の一覧</h3>
    {% if user.is_anonymous %}
		<dd div class="operation">
  		<a href="{% url 'login' %}" class="btn btn-default btn-sm btn-primary">ログインする</a>
  		<a href="{% url 'register' %}" class="btn btn-default btn-sm">ユーザー登録する</a>
	</dd>
	<hr />
	{% else %}
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title">ログインユーザー</h3>
	  		</div>
	  		<div class="panel-body">
	    		{{ user.username }}
	  		</div>
		</div>
  		<a href="{% url 'logout' %}" class="btn btn-default btn-sm btn-primary">ログアウト</a>
		</p>
		<dd div class="operation">
  		<a href="{% url 'cms:daily_add' %}" class="btn btn-default btn-sm btn-primary">日報の投稿</a>
	</dd>
	<hr />
	{% endif %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>投稿日時</th>
          <th>投稿者名</th>
          <th>タイトル</th>
          <th>本文</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for daily in dailys %}
        <tr>
          <td>{{ daily.id }}</td>
          <td>{{ daily.date }}</td>
          <td>{{ daily.user }}</td>
          <td>{{ daily.title }}</td>
          <td>{{ daily.report|truncate:"30" }}</td>
          <td>
          	{% if user == daily.user %}
          		<a href="{% url 'cms:daily_detail' pk=daily.id %}" class="btn btn-default btn-sm btn-primary">詳細</a>
            	<a href="{% url 'cms:daily_mod' daily_id=daily.id %}" class="btn btn-default btn-sm">修正</a>
            	<a href="{% url 'cms:daily_del' daily_id=daily.id %}" class="btn btn-default btn-sm">削除</a>
            	<a href="{% url 'cms:comment_add' daily_id=daily.id %}" class="btn btn-default btn-sm">コメントの追加</a>
            {% else %}
            	<a href="{% url 'cms:daily_detail' pk=daily.id %}" class="btn btn-default btn-sm btn-primary">詳細</a>
            	<a href="{% url 'cms:comment_add' daily_id=daily.id %}" class="btn btn-default btn-sm">コメントの追加</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}