{% extends "base.html" %}

{% block title %}日報の詳細{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">日報の詳細</h3>
    {% if user.is_anonymous %}
		<dd div class="operation">
  		<a href="{% url 'login' %}" class="btn btn-default btn-sm btn-primary">ログインする</a>
  		<a href="{% url 'register' %}" class="btn btn-default btn-sm">ユーザー登録する</a>
	</dd>
	<hr />
	{% else %}
		<div class="panel panel-default">
	  		<div class="panel-heading">
	    		<h3 class="panel-title">ログインユーザー</h3>
	  		</div>
	  		<div class="panel-body">
	    		{{ user.username }}
	  		</div>
		</div>
  		<a href="{% url 'logout' %}" class="btn btn-default btn-sm btn-primary">ログアウト</a>
		</p>
		<dd div class="operation">
  		<a href="{% url 'cms:daily_add' %}" class="btn btn-default btn-sm btn-primary">日報の投稿</a>
	</dd>
	<hr />
	{% endif %}
    <div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">タイトル</h3>
  		</div>
  		<div class="panel-body">
    		{{ object.title }}
  		</div>
  		<div class="panel-heading">
    		<h3 class="panel-title">本文</h3>
  		</div>
  		<div class="panel-body">
    		{{ object.report|linebreaks }}
  		</div>
	</div>
	<a href="{% url 'cms:comment_list' daily_id=object.id %}" class="btn btn-default btn-sm btn-primary">コメントの一覧</a>
	<a href="{% url 'cms:daily_list' %}" class="btn btn-default btn-sm">トップへ戻る</a>
{% endblock content %}