{# yourapp/login.html #}
{% extends "base.html" %}

{% block content %}

<!-- ログイン失敗時には、ここでエラーメッセージを表示する -->
{% if form.errors %}
<p>なんかおかしいです</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <h2>Sign in</h2>

    <hr />

    <div>
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
        {{ form.username }}
    </div>

    <button type="submit" value="Sign in" />
</form>


{% endblock %}